html {
  height: 100%;
}

body {
  --chess-1: #181c20;
  --chess-2: #080406;

  --chess-size: 50px;

  margin: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--chess-2);

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

canvas {
  background-color: var(--chess-2);
  background-image: linear-gradient(45deg, var(--chess-1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--chess-1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--chess-1) 75%),
    linear-gradient(-45deg, transparent 75%, var(--chess-1) 75%);
  background-size: var(--chess-size) var(--chess-size);
  background-position: 0 0, 0 calc(var(--chess-size) / 2),
    calc(var(--chess-size) / 2) calc(var(--chess-size) / -2),
    calc(var(--chess-size) / -2) 0px;
}

a.github {
  position: fixed;

  padding: 8px;

  bottom: 0px;
  right: 0px;
}
