.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10;
  /* align-items: center;
  justify-items: center; */
}

.container > div {
  display: flex;
  flex-direction: column;
  /* min-height: 500px;
  justify-content: center;
  align-items: center; */
}

.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 20px;
}

.canvas {
  display: block;
  width: 100%;
}